/_env
/.env
/env
/venv
*.pyc
__pycache__
**/.DS_Store
db.sqlite3
.coverage

# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
carts-client/node_modules
carts-client/npm-debug.log*
carts-client/yarn-debug.log*
carts-client/yarn-error.log*

# testing
carts-client/coverage

# production
carts-client/build
