{% extends 'index.html' %}

{% block content %}

<h1>
  {{ cart.name }}
  {% if cart.id == current_cart.id %}
  (current cart)
  {% else %}
  <a href="{% url 'carts:set_current' id=cart.id %}" class="btn btn-success">Set as current</a>
  {% endif %}
</h1>
<div>
  <a href="{% url 'carts:list' %}">My carts</a>
</div>

<ul>
  {% for item in cart %}
  <div class="card cart-product" style="width: 20rem;">
    <a href="{{ item.dish.get_absolute_url }}">
      <img class="card-img-top" src="{{ item.dish.image.url }}" alt="{{ item.product.name }}">
    </a>
    <div class="card-body">
      <h4 class="card-title">
        {{ item.dish.name }}
        <span class="badge badge-dark">x{{ item.quantity }}</span>
        <span class="badge badge-success">${{ item.total_price }}</span>
      </h4>
      <button class="btn btn-danger cart-remove" data-url="{% url 'carts:remove_from_cart' cart_id=cart.id dish_id=item.dish.id %}">
        Remove
      </button>
    </div>
  </div>
  {% endfor %}
</ul>

{% endblock content %}
