{% extends 'index.html' %}

{% block content %}

<div class="card mb-3">
  <img src="{{dish.image.url}}" alt="{{dish.name}}">
  <div class="card-body">
    <h1 class="card-title">
      {{ dish.name }}
      <span class="badge badge-info">${{ dish.price }}</span>
    </h1>
    <p class="card-text">
      {% if dish.for_vegan %}
      <span class="badge badge-pill badge-success">For vegans!</span>
      {% endif %}
      <span class="badge badge-pill badge-primary">{{ dish.category.name }}</span>
      <br />
      {{ dish.description }}
    </p>
    <p>
      PREPARING TIME: {{ dish.preparing_time }}
    </p>
    <button data-url="{% url 'carts:add_to_cart' dish_id=dish.id quantity=1 %}" class="btn btn-primary cart-add">Add to cart</button>
    <p class="card-text"><small class="text-muted">Last updated {{ dish.updated_at }}</small></p>
    <p class="card-text"><small class="text-muted">Added {{ dish.created_at }}</small></p>
  </div>
</div>

{% endblock content %}
