{% extends 'index.html' %}

{% block content %}

<div class="card mb-3">
  <img src="{{dish.image.url}}" alt="{{dish.name}}">
  <div class="card-body">
    <h1 class="card-title">
      {{ dish.name }}
      <span class="badge badge-info">${{ dish.price }}</span>
    </h1>
    <p class="card-text">{{ dish.description }}</p>
    <p class="card-text"><small class="text-muted">Last updated {{ dish.updated_at }}</small></p>
    <p class="card-text"><small class="text-muted">Added {{ dish.created_at }}</small></p>
    <span class="badge badge-pill badge-primary">{{ dish.category.name }}</span>
  </div>
</div>

{% endblock content %}
