{% load pipeline %}
{% load categories %}
{% load cart %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Food Menu | Healthy and tasty food!</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  {% stylesheet 'style' %}
</head>
<body style>
  <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">fooDMenu</a>
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {% get_current_cart session=request.session as current_cart %}
        <a href="{{ current_cart.get_absolute_url }}">{{ current_cart.name }}</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'carts:list' %}">My carts</a>
      </li>
    </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row no-gutters">
      <nav class="col-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          {% get_categories as categories %}
          {% for category in categories %}
          <li class="nav-item">
            <a class="nav-link" href="{{ category.get_absolute_url }}">
              {{ category.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      <main class="col-sm-9 ml-sm-auto col-md-10" role="main">
      {% block content %} <!-- BLOCK CONTENT -->
      <h1>Menu
        <!-- asc desc reset current page -->
        <a href="?page=1&sort=asc">Asc</a>
        <a href="?page=1&sort=desc">Desc</a>
      </h1>
      <div class="row text-center placeholders">
        {% for dish in dishes %}
        <div class="col-4 placeholder">
          <div class="card">
            <a href="{{ dish.get_absolute_url }}">
              <img class="card-img-top" src="{{ dish.image.url }}" alt="{{dish.name}}">
            </a>
            <div class="card-body">
              <h4 class="card-title">{{ dish.name }}</h4>
              <a href="{% url 'carts:add_to_cart' dish_id=dish.id quantity=1 %}" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% include 'paginator.html' with page=dishes sort=sort %}

      {% endblock content %} <!-- ENDBLOCK CONTENT -->
      </main>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  {% javascript 'app' %}
  </body>
</html>
