{% if page.has_other_pages %}
  <nav aria-label="page navigation">
    <ul class="pagination">
      {% if page.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page.previous_page_number }}&sort={{ sort }}">Prev</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Prev</span>
      </li>
      {% endif %}

      {% for page_num in page.paginator.page_range %}
        {% if page.number == page_num %}
        <li class="page-item active">
          <a class="page-link" href="?page={{ page_num }}&sort={{ sort }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_num }}&sort={{ sort }}">{{ page_num }}</a>
        </li>
        {% endif %}
      {% endfor %}
      {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page.next_page_number }}&sort={{ sort }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
